h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
h2 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
body {
	background-color: rgb(0);
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	background-color: #000000;
}
ul {
	padding: 10px;
}
.horizontal-menu {
	list-style: none;
	display: flex;
}
.horizontal-menu li{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.horizontal-menu a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  }
img{
	display: inline-block;
}
figcaption{
	font-family: Arial, Helvetica, sans-serif;
}
